build
example/speed 
example/torq
example/ping_all 
example/configureElmo
example/inverseKinematic
example/torqInversKinematic
example/up_iface
example/torqPDO
example/velPDO
example/pdo
example/basicInverseKinematic
example/inverseKinematic
example/pdo 
example/torqInversKinematic
example/torqPDO 
example/uo_iface
example/velPDO